---
const currentYear = new Date().getFullYear()
---

<footer class="opacity-80 m-4 min-[375px]:pl-4 md:pl-0 mt-0 mb-2 w-full mx-auto container lg:max-w-4xl md:max-w-2xl flex justify-center">
  <div class="w-full max-w-screen-xl mx-auto md:flex md:items-center md:justify-between py-4">
    <span class="text-sm sm:text-center text-gray-200">
      © {currentYear}
      <a href="https://www.linkedin.com/in/kiara-rubio-117881208/" target="_blank" rel="noopener" class="hover:underline">
        kiararubio
      </a>
      . Rights reserved.
    </span>
    <a href="https://vimeo.com/user157929105" target="_blank" rel="noopener" class="italic text-sm underline decoration-double hover:underline me-4 md:me-6 text-gray-200">
      Vimeo about me
    </a>
  </div>
</footer>
