---
---

<header
  id="header-home"
  class="py-3 px-10 flex items-center fixed top-0 w-full justify-between z-40 text-white"
>
  <nav class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2">
    <ul class="flex text-sm [&>li>a]:transition-colors [&>li>a]:text-current [&>li>a]:font-black [&>li>a]:px-6 [&>li>a]:py-4">
      <li class="hidden xl:block md:block sm:hidden">
        <a class="flex-row justify-center text-white cursor-pointer hover:bg-rose-600 focus:ring-4
                  focus:outline-none font-medium rounded-lg px-5 py-2.5 text-center 
                  inline-flex items-center mr-1 mb-1 hover:shadow-sm 
                  transition-all duration-500 ease-in-out hover:scale-100 scale-100 gap-x-2 opacity-80 hover:opacity-100"
            href="#home">
          <svg 
            width="24" 
            height="24"  
            viewBox="0 0 24 24"  
            fill="none"  
            stroke="currentColor"  
            stroke-width="2"  
            stroke-linecap="round"  
            stroke-linejoin="round"  
            class="icon icon-tabler icons-tabler-outline icon-tabler-home-up">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M9 21v-6a2 2 0 0 1 2 -2h2c.641 0 1.212 .302 1.578 .771" />
            <path d="M20.136 11.136l-8.136 -8.136l-9 9h2v7a2 2 0 0 0 2 2h6.344" />
            <path d="M19 22v-6" />
            <path d="M22 19l-3 -3l-3 3" />
          </svg>
          Home
        </a>
      </li>
      <li class="hidden xl:block md:block sm:hidden">
        <a class="flex-row justify-center text-white cursor-pointer hover:bg-rose-600 focus:ring-4 
                  focus:outline-none font-medium rounded-lg px-5 py-2.5 text-center 
                  inline-flex items-center mr-1 mb-1 hover:shadow-sm 
                  transition-all duration-500 ease-in-out hover:scale-100 scale-100 gap-x-2 opacity-80 hover:opacity-100"
           href="#audiovisual-content">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-photo-pentagon">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M13.163 2.168l8.021 5.828c.694 .504 .984 1.397 .719 2.212l-3.064 9.43a1.978 1.978 0 0 1 -1.881 1.367h-9.916a1.978 1.978 0 0 1 -1.881 -1.367l-3.064 -9.43a1.978 1.978 0 0 1 .719 -2.212l8.021 -5.828a1.978 1.978 0 0 1 2.326 0z" />
          <path d="M15 8h.01" />
          <path d="M4 15l4 -4c.928 -.893 2.072 -.893 3 0l5 5" />
          <path d="M14 14l1 -1c.928 -.893 2.072 -.893 3 0l2 2" />
        </svg>
        Audiovisual Content
        </a>
      </li>
      <li class="hidden xl:block md:block sm:hidden">
        <a class="flex-row justify-center text-white cursor-pointer hover:bg-rose-600 focus:ring-4 
                  focus:outline-none font-medium rounded-lg px-5 py-2.5 text-center 
                  inline-flex items-center mr-1 mb-1 hover:shadow-sm 
                  transition-all duration-500 ease-in-out hover:scale-100 scale-100 gap-x-2 opacity-80 hover:opacity-100"
            href="#work-experience">
        <svg
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="icon icon-tabler icons-tabler-outline icon-tabler-user-plus">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M8 7a4 4 0 1 0 8 0a4 4 0 0 0 -8 0" />
          <path d="M16 19h6" />
          <path d="M19 16v6" />
          <path d="M6 21v-2a4 4 0 0 1 4 -4h4" />
        </svg>
        Work Experience
        </a>
      </li>
      <li class="hidden xl:block md:block sm:hidden">
        <a class="flex-row justify-center text-white cursor-pointer hover:bg-rose-600 focus:ring-4
                  focus:outline-none font-medium rounded-lg px-5 py-2.5 text-center 
                  inline-flex items-center mr-1 mb-1 hover:shadow-sm 
                  transition-all duration-500 ease-in-out hover:scale-100 scale-100 gap-x-2 opacity-80 hover:opacity-100"
            href="https://linkedin.com/in/kiara-rubio-117881208"
            target="_blank" rel="noopener">
        <svg
          slot="before"
          width="24"  
          height="24"  
          viewBox="0 0 24 24"  
          fill="none"  
          stroke="currentColor"  
          stroke-width="2"  
          stroke-linecap="round"  
          stroke-linejoin="round"  
          class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin">
          <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
          <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
          <path d="M8 11l0 5" />
          <path d="M8 8l0 .01" />
          <path d="M12 16l0 -5" />
          <path d="M16 16v-3a2 2 0 0 0 -4 0" />
        </svg>
        LinkedIn
        </a>
      </li>
      <li class="hidden xl:block md:block sm:hidden px-4 py-2.5">
        <a href="https://drive.google.com/file/d/1Gyu0YnncMIVr26pfx275HZuLGoMqctQR/view?usp=drive_link" target="_blank" rel="noopener">
          <button class="cursor-pointer text-white font-bold relative text-[14px] w-[9em] h-[2.5em] text-center bg-gradient-to-r from-green-500 from-10% via-sky-500 via-30% to-pink-500 to-90% bg-[length:400%] rounded-[30px] z-10 hover:animate-gradient-xy hover:bg-[length:100%] before:content-[''] before:absolute before:-top-[5px] before:-bottom-[5px] before:-left-[5px] before:-right-[5px] before:bg-gradient-to-r before:from-green-500 before:from-10% before:via-sky-500 before:via-30% before:to-pink-500 before:bg-[length:400%] before:-z-10 before:rounded-[35px] before:hover:blur-xl before:transition-all before:ease-in-out before:duration-[1s] before:hover:bg-[length:10%] active:bg-violet-700 focus:ring-violet-700 hover:brightness-110 hover:-translate-y-[1px] hover:border-b-[6px] active:border-b-[2px] active:brightness-90 active:translate-y-[2px]">
            🎬 Download CV
          </button>
        </a>
      </li>
      <li class="lg:hidden md:hidden flex items-center w-screen justify-end px-8 py-2">
        <button id="menu-btn" class="group relative inline-block w-[44px] p-[5px] h-[45px] m-[25px]">
          <span class="mx-[auto] my-[0] relative top-[12px] w-[30px] h-[6px] bg-[#000] block [transition-property:margin,_width] group-hover:w-[20px] duration-200 after:absolute after:content-[''] after:mt-[12px] after:w-[30px] after:h-[6px] after:bg-[#000] after:block after:left-[0] after:[transition-property:margin,_left] after:duration-200 group-hover:after:mt-[6px] group-hover:after:-left-[5px] before:absolute before:content-[''] before:-mt-[12px] before:w-[30px] before:h-[6px] before:bg-[#000] before:block before:left-[0] before:[transition-property:margin,_width,_left] before:duration-200 group-hover:before:-mt-[6px] group-hover:before:w-[10px] group-hover:before:left-[5px]"></span>
        </button>
      </li>
    </ul>
  </nav>

  <nav id="modal-menu" class="hidden xl:hidden flex-col bg-white fixed top-0 left-0 right-0 bottom-0">
    <ul class="flex flex-col mt-28 [&>li>a]:transition-colors [&>li]:m-3 [&>li>a]:flex [&>li>a]:justify-between [&>li>a]:duration-200 [&>li>a]:text-black [&>li>a]:font-medium [&>li>a]:px-6 [&>li>a]:py-3 [&>li>a]:rounded-md [&>li>a]:w-full">
      <li><a class="hover:bg-orange-300" href="#home">Home<img class="h-5" alt="arrow icon" src="/arrow-icon.svg"></a> </li>
      <li><a class="hover:bg-lime-300" href="#audiovisual-content">Audiovisual Content<img class="h-5" alt="arrow icon" src="/arrow-icon.svg"></a></li>
      <li><a class="hover:bg-pink-300" href="#work-experience">Work Experience<img class="h-5" alt="arrow icon" src="/arrow-icon.svg"></a></li>
      <li><a class="hover:bg-blue-500" href="https://linkedin.com/in/kiara-rubio-117881208" target="_blank" rel="noopener">LinkedIn<img class="h-5" alt="arrow icon" src="/arrow-icon.svg"></a></li>
    </ul>
  </nav>
</header>

<script >
  const menuBtn = document.getElementById('menu-btn');
  const modalMenu = document.querySelector("#modal-menu")
  const menuItems = modalMenu?.querySelectorAll('li>a ');
  
  function toggleDropdownMenu() {
    modalMenu?.classList.toggle('hidden');
  }

  menuBtn?.addEventListener('click',toggleDropdownMenu)

  menuItems?.forEach(Item => {
    Item.addEventListener('click',toggleDropdownMenu);
});
</script>

<script>
  const listItem = document.querySelectorAll("#header-home li")
  const menuBackDrop = document.querySelector("#menu-backdrop") as HTMLElement

  listItem.forEach((item) => {
    item.addEventListener("mouseenter", () => {
      const { left, top, width, height } = item.getBoundingClientRect()

      menuBackDrop.style.setProperty("--left", `${left}px`)
      menuBackDrop.style.setProperty("--top", `${top}px`)
      menuBackDrop.style.setProperty("--width", `${width}px`)
      menuBackDrop.style.setProperty("--height", `${height}px`)

      menuBackDrop.style.opacity = "1"
      menuBackDrop.style.visibility = "visible"
    })

    item.addEventListener("mouseleave", () => {
      menuBackDrop.style.opacity = "0"
      menuBackDrop.style.visibility = "hidden"
    })
  })
</script>

<script>
  const headerEl = document.querySelector("#header-home") as HTMLElement

  const observerOptions = {
    root: null,
    rootMargin: "0px", // as soon as the element is seen
    threshold: 0.9,    // visibility percentage
  }

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      const { isIntersecting } = entry
      if (isIntersecting) {
        const color = entry.target.getAttribute("data-header-color") ?? ""
        headerEl.style.color = color as string
      }
    })
  }, observerOptions)

  const sectionElements = document.querySelectorAll(".landing-section")
  sectionElements.forEach((section) => observer.observe(section))
</script>
